/******************************************************************************************************/
/*                                                                                                    */
/*                                  My Crud Project                                                   */
/*                                    MyDisneyCrud                                                    */ 
/*                                 Lenguaje de Marcas                                                 */
/*                                   1º DAW -  23/24                                                  */
/*                         Author: Sandra Barbara Pirpamer                                            */
/*                                                                                                    */
/******************************************************************************************************/                                         


/*********general stying******/
@font-face {  
    font-family: disneytitle;
    src: url(../font/NewWaltDisneyFontRegular-BPen.ttf)
} 

* {box-sizing: border-box;}


/********body styling********/
#wrapper {
    background-color: red;
}

/**********************form styling************************/
form {
    width: 98%;
    min-width: 370px;
    max-width: 600px;  
    margin:auto;   
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 3px 3px 5px goldenrod;
    background-color: white;
}

label span{
    color: red
}


h1{
    background-color: white;
    color: goldenrod;
    height: 15%;
    border: 1px solid goldenrod;
    font-family: disneytitle;
    font-size: 2em;
    letter-spacing: 2px; 
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 5px goldenrod;
}

.form h1 {
    font-family: disneytitle;
}

form:hover{
    box-shadow: 3px 3px 10px goldenrod;
}

input,select:not([type="radio"]){
    box-shadow: 1px 1px 2px goldenrod;
    border: 2px solid goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    background-color: white;
    color: black;
    height: 30px;
    cursor: pointer;
}

input:hover,select:not([type="radio"]):hover{
    box-shadow: 1px 1px 2px red;
}

option{
    color: black;
}

input[type="radio"] {
    border: none;
    box-shadow: none;
    
}

label{
    display: inline-block;
}


::placeholder{
    color:lightgray;
}



label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

#email{
    width: 100%;
}

#city{
    margin-right:20px;
}

#postal_code{
    width: 80px;
}

#code{
    width: 50px;
}

#roomcap{
    width: 70px;
}

#parksoption, #cityoption, #countryoption, #starsoption{
    background-color: goldenrod;
}

#parksoption:hover{
    background-color: red;
    color: white;
}


input:not([type="submit"]):not([id="telephone"]):not([type="email"]):not([type="number"]):not([type="radio"]) { 
    width: 100%; 

}

.form-text{
    visibility: hidden;
    color: red;
    margin-bottom: 30px;
}

input[type="radio"]:invalid {
    outline: 1px solid red;
}

#radiobtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 2px;
    
}

/* no me permite cambiar el color del boton
.radbtn:checked {
    background-color: goldenrod;
}
 */

/*******************send button styling***************************/

.btn{
    display: block;
    background-color: goldenrod;
    color: red;
    box-shadow: 1px 1px 2px goldenrod;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin: auto;
    height: 30px;
    width: 80px;
    font-family: disneytitle;
    letter-spacing: 1px;
}

.btn:hover{
    box-shadow: 3px 3px 4px goldenrod; 
    background-color: red;
    color: white;
}




