@font-face {  /*este no es un selector, es un enlace.*/
    font-family: disneytitle;
    src: url(../font/NewWaltDisneyFontRegular-BPen.ttf)
} 

* {box-sizing: border-box;}

body{
    background-color: #EF3B3A;
    font-family: Arial, Helvetica, sans-serif;
    
    justify-content: center;  /* centrado horizontal */
    align-items: center; /* centrado vertical */
    height: 100vh;
  }

#container{
  height: 100vh;
  position: relative;
  margin: 0 auto;
  max-width: 450px;
}

.mickey {
    position: relative;
    z-index: 2;
    max-width: 450px;
    min-width: 300px;
    margin: 0px auto ;
    margin-bottom: -30px;
    padding: 0px;
    bottom: 0px;
    text-align: center;
    animation: mickeyAnim 2s ease 0s 1 normal forwards;
      
}

.logintitle{
        color:red;
    width: 100%;
    font-family: disneytitle;
    font-size: 1.5em;
    font-weight: bold;
    height: 80px;
    margin: 0px auto 30px;
    padding: 1px 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-sizing: border-box;
}


/* Form */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    min-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 3px 3px 2px 0 yellow;
    border-color: red;
    border-style: outset;
  
}
    .form .thumbnail {
    background: #EF3B3A;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 35px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
  }
    .form .thumbnail img {
    display: block;
    width: 100%;
  }
  .form input {
    outline: 0;
    background: #f4d407;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: black;
  }
  .form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: goldenrod;
    font-family: disneytitle;
    font-size: 3em;
    font-weight: bold;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover{
    background-color: #f4d407;
    color: red;
  }

  @keyframes mickeyAnim{ 
    0% { transform: translateY(0);
            
        
            }    
    100%{transform: translateY(20px);
    }    
}
  